{% extends 'layouts.html.twig' %}

{% block innerLayout %}
    <div class="login">

        <!-- Login -->
        <div class="login__block toggled">
            <div class="login__block__body">
                <form method="post">
                    <div class="form-group">
                        <p>Masukkan Kata Sandi yang baru</p>
                        <input type="password" class="form-control" name="password">
                        <i class="form-group__bar"></i>
                    </div>

                    <button class="btn btn--light btn--icon m-t-15" type="submit"><i class="zmdi zmdi-long-arrow-right"></i></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}