{% extends 'subLayout.html.twig' %}

{% block content %}

    <div class="content__header">
        <h2>Isi Data Form Pengajuan Izin</h2>
    </div>

    <div class="card">
        {% for message in app.session.getFlashBag.get('notice') %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="zmdi zmdi-close" data-dismiss="alert" aria-hidden="true"><i
                            class="fa fa-times"></i></button>
                <span style="color:#444">{{ message }}</span>
            </div>
        {% endfor %}
        <div class="card__header">
        </div>
        <div class="card__body">
            <form method="post">
                <div class="form-group">
                    <p>Nama</p>
                    <input type="text" name="nama" class="form-control" value="{% if username is defined %}{{ username }}{% endif %}" readonly>
                </div>
                <div class="form-group">
                    <p>NIK</p>
                    <input type="text" name="nik" class="form-control" value="{% if nik is defined %}{{ nik }}{% endif %}" readonly>
                </div>
                <div class="form-group">
                    <p>Silahkan pilih keterangan ketidakhadiran anda</p>
                    <select name="absen" class="form-control">
                        <option value="">-- Pilih Keterangan Absen --</option>
                        <option value="1">Ijin</option>
                        <option value="2">Sakit</option>
                        <option value="3">Dinas</option>
                    </select>
                </div>
                <div class="form-group">
                    <p>Keterangan</p>
                    <textarea class="form-control" name="description"></textarea>
                </div>
                <div class="form-group">
                    <p>Tanggal Mulai</p>
                    <input type="text" class="form-control picker" name="tanggal_mulai">
                </div>
                <div class="form-group">
                    <p>Tanggal Selesai</p>
                    <input type="text" class="form-control picker" name="tanggal_akhir">
                </div>
                <button class="btn btn-primary">SUBMIT</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block customJS %}
    <script>
        $('.picker').datetimepicker({
            format: 'DD-MM-YYYY'
        });
    </script>
{% endblock %}