{% extends 'subLayout.html.twig' %}
{% block content %}
<section id="content" class="content--boxed">
    <div class="content__header content__header--calendar">
        <h2>Calendar</h2>

        <div class="actions actions--calendar">
            <a href="" class="actions__calender-prev"><i class="zmdi zmdi-long-arrow-left"></i></a>
            <a href="" class="actions__calender-next"><i class="zmdi zmdi-long-arrow-right"></i></a>
            <a href="" data-calendar-view="month"><i class="zmdi zmdi-view-comfy active"></i></a>
            <a href="" data-calendar-view="basicWeek"><i class="zmdi zmdi-view-week"></i></a>
            <a href="" data-calendar-view="basicDay"><i class="zmdi zmdi-view-day"></i></a>
        </div>
    </div>

    <div id="calendar" class="card"></div>
</section>

{% endblock %}
{% block customJS %}
<script>
    $(function() {
        var date = new Date,
        month = date.getMonth(),
        year = date.getFullYear(),
        i = $('#calendar');
        i.fullCalendar({
            header: {
                right: "",
                center: "",
                left: ""
            },
            businessHours: {
                dow: [1, 2, 3, 4, 5, 6]
            },
            buttonIcons: {
                prev: "calendar__prev",
                next: "calendar__next"
            },
            viewRender: function (e) {
                var t = $("#calendar").fullCalendar("getDate"),
                    a = t.month();
                $("#calendar .fc-toolbar").attr("data-calendar-month", a), $(".content__header--calendar > h2").html(e.title)
            },
            events: '/api/holiday'
        });
        $("body").on("click", ".actions__calender-next", function (e) {
            e.preventDefault(), i.fullCalendar("next")
        });
        $("body").on("click", ".actions__calender-prev", function (e) {
            e.preventDefault(), i.fullCalendar("prev")
        });
    });
</script>
{% endblock %}
