{% extends 'subLayout.html.twig' %}
{% block content %}
    <div class="content__header">
        <h2>INPUT HARI LIBUR</h2>
    </div>
    <div class="card">
        <div class="card__header">
            <h2>Masukkan Hari Libur
                <small>Lengkapi data yang dibutuhkan.</small>
            </h2>
        </div>
        <div class="card__body">
            <div class="row">
                <div class="col-md-5">
                    <p></p>
                    {{ form_start(form) }}

                    {% for element in form %}
                        <div class="form-group">
                            {{ form_row(element, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <input type="submit" value="Masukkan tanggal libur" class="btn btn-default">
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}