{% extends 'subLayout.html.twig' %}
{% block content %}
    <section id="content">
        <div class="content__header">
        </div>
        <div class="card">
            <div class="card__header">
                <h2>Identitas Karyawan</h2>
            </div>
            <div class="card__body">
                <div class="table-responsive">
                    <table class="table no-border">
                        <thead>
                            <tr>
                                <th width="10">&nbsp;</th> {# Nomor #}
                                <th width="200">&nbsp;</th> {# Label #}
                                <th width="10">&nbsp;</th> {# TitikDua #}
                                <th width="">&nbsp;</th> {# Label #}
                                <th width="10">&nbsp;</th> {# TitikDua #}
                                <th width="200">&nbsp;</th> {# IsiAlamat #}
                                <th width="200">&nbsp;</th> {# Label #}
                                <th width="10">&nbsp;</th> {# TitikDua #}
                                <th width="50">&nbsp;</th> {# Isi Kecil #}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="fw-bold">NIK</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="fw-bold">NAMA LENGKAP</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="fw-bold">TEMPAT LAHIR</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="fw-bold">TGL. LAHIR</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="fw-bold">JENIS KELAMIN</td>
                                <td>:</td>
                                <td colspan="3"></td>
                                <td class="fw-bold">GOLONGAN DARAH</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="6"></td>
                                <td class="fw-bold">RHESUS</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td class="fw-bold">NO. KTP</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td class="fw-bold">STATUS PERKAWINAN</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td class="fw-bold">AGAMA</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td class="fw-bold">KEBANGSAAN</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td class="fw-bold">PENDIDIKAN TERAKHIR</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td class="fw-bold">GOLONGAN</td>
                                <td>:</td>
                                <td colspan="3"></td>
                                <td class="fw-bold">JENJANG KEPANGKATAN</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="6"></td>
                                <td class="fw-bold">JENJANG JABATAN</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td class="fw-bold">TGL. MASUK</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td class="fw-bold">STATUS SAAT INI</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td class="fw-bold">GOLONGAN</td>
                                <td>:</td>
                                <td colspan="3"></td>
                                <td class="fw-bold">RT/RW</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td class="fw-bold">KEL</td>
                                <td>:</td>
                                <td></td>
                                <td class="fw-bold">KEC.</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td class="fw-bold">KOTA</td>
                                <td>:</td>
                                <td></td>
                                <td class="fw-bold">KODE POS</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td class="fw-bold">TELP. RUMAH</td>
                                <td>:</td>
                                <td></td>
                                <td class="fw-bold">EMAIL</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td class="fw-bold">HP</td>
                                <td>:</td>
                                <td></td>
                                <td class="fw-bold">TELP. EMERGENCY</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td class="fw-bold">KARTU BPJS KETENAGAKERJAAN</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td class="fw-bold">NO. BPJS KETENAGAKERJAAN</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td colspan="9">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td class="fw-bold">KARTU BPJS KESEHATAN</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td class="fw-bold">NO. BPJS KESEHATAN</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td class="fw-bold">KARTU NPWP</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td class="fw-bold">NO. KARTU NPWP</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td colspan="9">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td class="fw-bold">PENGALAMAN KERJA SEBELUM DI MRV</td>
                                <td>:</td>
                                <td colspan="6"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
